.container {
  .box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      background-color: white;
      box-shadow: 24px;
      padding: 4px;
      border-radius: 8px;
  }
}
