.form {
    display: flex;
    flex-direction: column !important;
    padding: 1rem;

    .textField {
        &:not(:first-child) {
            margin-top: 8px;
        }
    }

    .datePicker {
        margin-top: 16px;
    }

    .footer {
        padding-top: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .cancel {
            width: 48%;
        }

        .submit {
            width: 48%;
        }
    }
}
