.container {
    background-color: white;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 12px;
    min-width: 1000px;

    .table {
        .header {
            padding-bottom: 1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .select {
                display: flex;
                flex-direction: row;

                .dropdown{
                    padding-right: 12px;
                    min-width: 200px;
                }
            }

            .button{
                min-width: 200px;
            }
        }

        .content {
            .editIcon{
                color: blue;
                cursor: pointer;
            }
            
            .deleteIcon{
                color: red;
                cursor: pointer;
            }
        }
    }
}
